
@{
    ViewData["Title"] = "CompraProducto";
}

<h1>Error en la Compra</h1>
<h2>La fecha es incorrecta</h2>
<button type="button" onclick="location.href='@Url.Action("Profile", "Compra")'">Volver a Profile</button>
