
@{
    ViewData["Title"] = "VentaProducto";
}

<h1>Error en la Venta</h1>
<h2>Stock Insuficiente</h2>
<button type="button" onclick="location.href='@Url.Action("Profile", "Compra")'">Volver a Profile</button>
 